<section id="mission">
  <p>Florida State Open Publishing provides publishing services for journals, monographs, open educational resources, and digital scholarship projects. We consult on a variety of scholarly publishing topics and digital research tools and methodologies. We aim to provide open access publishing expertise, services, and platforms to enhance the scholarly output of Florida State University students, faculty, and staff.
  </p>
</section>
